{# src/Easy/EvenementBundle/Resources/views/Evenement/listAccueil.html.twig #}
<div class="panel-body panel-list-group">
    <div class="list-group">
        {% for evenement in evenements %}
        <a href="{{ path('easy_evenement_show_utilisateur',  { 'id' : evenement.id }) }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ evenement.titre }}</h4>
            <p class="list-group-item-text">Le {{ evenement.dateDebut|date('d/m/Y') }} de {{ evenement.dateDebut|date('H:i') }} à {{ evenement.dateFin|date('H:i') }}</p>
        </a>
        {% endfor %}
    </div>
</div>
