{# src/Easy/EvenementBundle/Resources/views/Evenement/listEspaceMembre.html.twig #}

{% extends "EasyEspaceMembreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Evènements{% endblock %}

{% block body %}
    <p>Cliquez sur un des évènements ci-dessous afin de visualiser ses détails.</p>

    {% if evenements|length > 0 %}<div class="list-group">{% endif %}
    {% for evenement in evenements %}
        <a href="{{ path('easy_evenement_espacemembre_show', { 'id' : evenement.id }) }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ evenement.titre }}</h4>
            <p class="list-group-item-text">Le {{ evenement.dateDebut|date('d/m/Y') }} de {{ evenement.dateDebut|date('H:i') }} à {{ evenement.dateFin|date('H:i') }}</p>
        </a>
    {% else %}
        <div class="alert alert-info">Oups, il n'y a rien de prévu pour le moment.</div>
    {% endfor %}
    {% if evenements|length > 0 %}</div>{% endif %}
{% endblock %}