{# src/Easy/EvenementBundle/Resources/views/Evenement/showAdmin.html.twig #}
 
{% extends "EasyEspaceMembreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Administration des Evènements{% endblock %}
 
{% block body %}
<div>
    <form role="form" action="{{ path('easy_evenement_update') }}" method="post">
        <p>
            <div class="form-group">
                <label for="titre">Titre</label>
                <input type="text" class="form-control" name="titre" placeholder="Titre" value="{% if (evenement) %}{{ evenement.titre }}{% endif %}">
                <input type="hidden" name="evenement" value="{% if (evenement) %}{{ evenement.id }}{% endif %}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" placeholder="Description">{% if (evenement) %}{{ evenement.description }}{% endif %}</textarea>
            </div>
            <div class="form-group">
                <label for="date_debut">Date Début</label>
            </div>
            <div class="form-group">
                <label for="date_fin">Date Fin</label>
            </div>
            <br />
            <button type="submit" class="btn btn-default">Envoyer</button>
        </p>
    </form>
</div>
<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script type="text/javascript">
        tinymce.init({selector:'textarea'});
</script>


{% endblock %}