{# src/Easy/ArticleBundle/Resources/views/Article/index.html.twig #}
 
{% extends "EasySiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Les Membres de la =EaSy= Company{% endblock %}
 
{% block body %}
<table class="table">
    <h3>Staff</h3>
    <thead>
        <tr>
            <th></th>
            <th>Utilisateur</th>
            <th>Pseudo Steam</th>
            <th>Leitmotiv</th>
        </tr>
    </thead>
    <tbody>
        {% for utilisateur in utilisateurs if utilisateur.hasGroup('Administrateur') %}
            <tr>
                <td><img src="{{ gravatar(utilisateur.email, 50) }}"></td>
                <td>=EaSy= {{ utilisateur.username }}</td>
                <td>{{ utilisateur.pseudoSteam }}</td>
                <td>{{ utilisateur.leitmotiv }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<table class="table">
    <h3>Membres</h3>
    <thead>
        <tr>
            <th></th>
            <th>Utilisateur</th>
            <th>Pseudo Steam</th>
            <th>Leitmotiv</th>
        </tr>
    </thead>
    <tbody>
        {% for utilisateur in utilisateurs if utilisateur.hasGroup('=EaSy= Company') %}
            <tr>
                <td><img src="{{ gravatar(utilisateur.email, 50) }}"></td>
                <td>=EaSy= {{ utilisateur.username }}</td>
                <td>{{ utilisateur.pseudoSteam }}</td>
                <td>{{ utilisateur.leitmotiv }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}