{# src/Easy/SiteBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>=EaSy= Company{% set _title = block('title') %}{% if _title is not empty %} | {{ _title|raw }}{% endif %}</title>
        <link href="{{ asset('bundles/easysite/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/easysite/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/easysite/css/main.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            <header>
                Bannière
            </header>

            {% include "EasySiteBundle::menu.html.twig" %}

            <div class="row">
                <div class="col-xs-4 col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Menu</div>
                        <div class="panel-body panel-list-group">
                          <div class="list-group">
                                <a class="list-group-item" href=""><i class="icon-user"></i> Gérer mon Profil</a>
                                <a class="list-group-item" href="{{ path('easy_don_accueil') }}"><i class="icon-euro"></i> Consulter les Dons</a>
                                <a class="list-group-item" href=""><i class="icon-calendar"></i> Consulter les Evènements</a>
                                <a class="list-group-item" href=""><i class="icon-envelope"></i> Ecrire un Ticket</a>
                          </div>
                        </div>
                    </div>
                    <div class="panel panel-danger">
                        <div class="panel-heading"><i class="icon-cogs"></i> Administration</div>
                        <div class="panel-body panel-list-group">
                          <div class="list-group">
                                <a class="list-group-item" href="{{ path('easy_article_admin') }}"><i class="icon-font"></i> News</a>
                                <a class="list-group-item" href=""><i class="icon-calendar"></i> Evènements</a>
                                <a class="list-group-item" href=""><i class="icon-euro"></i> Dons</a>
                                <a class="list-group-item" href=""><i class="icon-envelope"></i> Tickets</a>
                                <a class="list-group-item" href=""><i class="icon-refresh"></i> Générer le squad.xml</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 col-md-9">
                  <div class="panel panel-primary">
                      <div class="panel-body">
                          {% if _title is not empty %}<h1>{{ _title|raw }}</h1>{% endif %}

                          {% block body %} {% endblock %}
                      </div>
                  </div>
                </div>
            </div>
            <footer>
                =EaSy= Company &copy; 2008 - {{ "now"|date('Y') }} - <a href="">Mentions Légales</a>
            </footer>
        </div>

        <script src="{{ asset('bundles/easysite/js/jquery-2.0.0.min.js') }}"></script>
        <script src="{{ asset('bundles/easysite/js/bootstrap.min.js') }}"></script>
    </body>
</html>