{# src/Easy/SiteBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>=EaSy= Company{% set _title = block('title') %}{% if _title is not empty %} | {{ _title|raw }}{% endif %}</title>
        <link href="{{ asset('bundles/easysite/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/easysite/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/easysite/css/datepicker.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/easysite/css/main.css') }}" rel="stylesheet" media="screen">
        <link rel="shortcut icon" href="/bundles/easysite/images/favicon.png" />

        <script src="{{ asset('bundles/easysite/js/jquery-2.0.3.min.js') }}"></script>
        <script src="{{ asset('bundles/easysite/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/easysite/js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('bundles/easysite/js/bootstrap-datepicker.fr.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <a href="{{ path('easy_site_homepage') }}"><img src="/bundles/easysite/images/banniere_{{ random(4) }}.png" class="img-responsive"></a>
            </header>

            {% include "EasySiteBundle::menu.html.twig" %}

            <div class="row">
                <div class="col-xs-4 col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-arrow-right"></i> Menu</div>
                        <div class="panel-body panel-list-group">
                          <div class="list-group">
                                <a class="list-group-item" href="{{ path('easy_utilisateur_profil', { 'username' : app.user.username }) }}"><i class="fa fa-fw fa-user"></i> Gérer mon Profil</a>
                                <a class="list-group-item" href="{{ path('easy_don_accueil') }}"><i class="fa fa-fw fa-euro"></i> Consulter les Dons</a>
                                <a class="list-group-item" href="{{ path('easy_evenement_espacemembre_list') }}"><i class="fa fa-fw fa-calendar"></i> Consulter les Evènements</a>
                                <a class="list-group-item" href=""><i class="fa fa-fw fa-laptop"></i> Formations</a>
                                <a class="list-group-item" href=""><i class="fa fa-fw fa-meh-o"></i> Tu veux une médaille ?</a>
                                <a class="list-group-item" href=""><i class="fa fa-fw fa-envelope"></i> Ecrire un Ticket</a>
                          </div>
                        </div>
                    </div>
                    {% if app.security.isGranted('ROLE_ADMINISTRATEUR') %}
                    <div class="panel panel-danger">
                        <div class="panel-heading"><i class="fa fa-cogs"></i> Administration</div>
                        <div class="panel-body panel-list-group">
                          <div class="list-group">
                                <a class="list-group-item" href="{{ path('easy_categoriearticle_admin') }}"><i class="fa fa-fw fa-folder-open-o"></i> Catégories des Articles</a>
                                <a class="list-group-item" href="{{ path('easy_article_admin') }}"><i class="fa fa-fw fa-font"></i> Articles</a>
                                <a class="list-group-item" href="{{ path('easy_utilisateur_admin') }}"><i class="fa fa-fw fa-user"></i> Utilisateurs</a>
                                <a class="list-group-item" href="{{ path('easy_evenement_admin') }}"><i class="fa fa-fw fa-calendar"></i> Evènements</a>
                                <a class="list-group-item" href="{{ path('easy_forum_admin') }}"><i class="fa fa-fw fa-comment"></i> Forum</a>
                                <a class="list-group-item" href="{{ path('easy_don_admin') }}"><i class="fa fa-fw fa-euro"></i> Dons</a>
                                <a class="list-group-item" href=""><i class="fa fa-fw fa-envelope"></i> Tickets</a>
                                <a class="list-group-item" href="" id="generate_squad_xml"><i class="fa fa-fw fa-refresh"></i> Générer le squad.xml</a>
                          </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-xs-8 col-md-9">
                  <div class="panel panel-primary">
                      <div class="panel-body">
                          {% if _title is not empty %}<h1>{{ _title|raw }}</h1>{% endif %}

                          {% block body %} {% endblock %}
                      </div>
                  </div>
                </div>
            </div>
            <footer>
                =EaSy= Company &copy; 2008 - {{ "now"|date('Y') }} - <a href="">Mentions Légales</a>
            </footer>
        </div>

        <script>
        $(function() {
            {% if app.security.isGranted('ROLE_ADMINISTRATEUR') %}
            var GENERATING_SQUAD_XML = false; // Variable globale permettant de savoir si le fichier squald.xml est en cours de génération

            // Clic sur l'élément du menu "Générer le squad.xml"
            $('#generate_squad_xml').click(function(e) {
                e.preventDefault();

                // Si le fichier est déjà en cours de génération
                if (GENERATING_SQUAD_XML == true) {
                    return false; // On dégage
                }

                var previous_text = $(this).html();
                var previous_color = $(this).css('color');

                var self = $(this);

                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    url: '{{ path('easy_squad_xml_generate') }}',
                    beforeSend: function(jqXHR, settings) {
                        GENERATING_SQUAD_XML = true; // On indique que la génération a commencée

                        // On désactive le lien sur lequel on vient de cliquer
                        self.html('<i class="fa fa-fw fa-refresh fa-spin"></i> Génération...');
                        self.css('color', '#999');
                    },
                    complete: function(jqXHR, textStatus) {
                        GENERATING_SQUAD_XML = false; // Génération échouée ou terminée

                        // On remet le texte et la couleur d'avant
                        self.html(previous_text);
                        self.css('color', previous_color);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert('Echec de la génération du fichier squad.xml');
                    },
                    success: function(data, textStatus, jqXHR) {
                        alert('Le fichier squad.xml a bien été généré.');
                    }
                });
            });
            {% endif %}

            // Affichage des tooltips
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
    </body>
</html>