{# src/Easy/SiteBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>=EaSy= Company{% set _title = block('title') %}{% if _title is not empty %} | {{ _title|raw }}{% endif %}</title>
        <link href="{{ asset('bundles/easysite/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/easysite/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/easysite/css/main.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            <header>
                Bannière
            </header>

            {% include "EasySiteBundle::menu.html.twig" %}

            <div class="row">
                <div class="col-xs-4 col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Menu</div>
                        <div class="panel-body">
                            <a href=""><i class="icon-user"></i> Gérer mon Profil</a><br />
                            <a href="{{ path('easy_don_accueil') }}"><i class="icon-euro"></i> Consulter les Dons</a><br />
                            <a href=""><i class="icon-calendar"></i> Consulter les Evènements</a><br />
                            <a href=""><i class="icon-envelope"></i> Ecrire un Ticket</a><br />
                            ----<br />
                            <a href=""><i class="icon-user"></i> Administration des News</a><br />
                            <a href=""><i class="icon-calendar"></i> Administration des Evènements</a><br />
                            <a href=""><i class="icon-th-list"></i> Administration du Forum</a><br />
                            <a href=""><i class="icon-euro"></i> Administration des Dons</a><br />
                            <a href=""><i class="icon-envelope"></i> Administration des Tickets</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 col-md-9">
                  <div class="panel panel-primary">
                      <div class="panel-body">
                          {% if _title is not empty %}<h1>{{ _title|raw }}</h1>{% endif %}

                          {% block body %} {% endblock %}
                      </div>
                  </div>
                </div>
            </div>
        </div>

        <script src="{{ asset('bundles/easysite/js/jquery-2.0.0.min.js') }}"></script>
        <script src="{{ asset('bundles/easysite/js/bootstrap.min.js') }}"></script>
    </body>
</html>