{# src/Easy/SiteBundle/Resources/views/Pages/mentions.html.twig #}

{% extends "EasySiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Forum{% endblock %}

{% block body %}
    <h3>{{ forum.libelle }}</h3>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th colspan="4">
                    <a type="button" class="btn btn-primary btn-sm" href="{{ path('easy_forum_sujet_add', { 'id' : forum.id }) }}"><i class="fa fa-comments"></i> Ecrire un sujet</a>
                    <a type="button" class="btn btn-default btn-sm" href="{{ path('easy_forum_index') }}"><i class="fa fa-arrow-circle-left"></i> Retour</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for sujet in sujets %}
                <tr onclick="document.location='{{ path('easy_forum_sujet', { 'id' : sujet.id }) }}'" {% if sujet.estImportant %}class="warning"{% endif %}>
                    <td style="width: 40%;">
                        {% if sujet.estImportant %}<i class="fa fa-exclamation-circle"></i>{% endif %} 
                        {% if sujet.estFerme %}<i class="fa fa-lock"></i>{% endif %}
                        {% if sujet.estImportant %}<strong>{{ sujet.titre }}</strong>{% else %}{{ sujet.titre }}{% endif %}
                    </td>
                    <td style="width: 30%;"><a href=""><img src="{{ gravatar(sujet.utilisateur.email, 16) }}"> {{ sujet.utilisateur }}</a></td>
                    <td style="width: 10%;">
                        {{ sujet.getNbMessages() }} <i class="fa fa-envelope"></span>
                    </td>
                    <td style="width: 10%;">
                        {{ sujet.getDernierMessage().date|date('d/m/Y H:i') }}
                    </td>
                    <td style="width: 5%;"><a href="{{ path('easy_forum_sujet', { 'id' : sujet.id }) }}"><i class="fa fa-share-square-o"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}