{# src/Easy/DonBundle/Resources/views/Don/index.html.twig #}
 
{% extends "EasyEspaceMembreBundle::layout.html.twig" %}

{% block title %}Dons{% endblock %}
 
{% block body %}
    <div class="page-header">
        <h1>Aperçu des Dons</h1>
    </div>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Statistiques générales</a></li>
            <li><a href="#tab2" data-toggle="tab">Mes Statistiques</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <h2>Objectif {{ mois["now"|date("m")] }} {{ "now"|date("Y") }}</h2>
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ statistiquesGlobales.pourcentage }}%;">
                        <span class="sr-only">{{ statistiquesGlobales.pourcentage }}% Complete</span>
                    </div>
                 </div
                <p>
                    Objectif : {{ constant('Easy\\DonBundle\\Entity\\Don::PRIX_SERVEUR_PAR_MOIS')|number_format(2, ',', ' ') }} €<br/>
                    Montant récolté : {{ statistiquesGlobales.montantMois|number_format(2, ',', ' ') }} €<br/>
                    Date du dernier don : {{ statistiquesGlobales.dernierDon.date | date ("d/m/Y") }} par {{ statistiquesGlobales.dernierDon.utilisateur.username }}<br/>
                </p>
            </div>
            <div class="tab-pane" id="tab2">
                <h2>Mes Statistiques</h2>
                <p>
                    Nombre de Dons : {{ statistiquesUtilisateur.dons|length }}<br/>
                    Montant moyen : {{ statistiquesUtilisateur.montantMoyen|number_format(2, ',', ' ') }} €
                    <br/><br/>
                    {% for don in statistiquesUtilisateur.dons %}
                        {{ don.date|date('d/m/Y') }} : {{ don.montant|number_format(2, ',', ' ') }} € par {{ don.moyenPaiement.libelle }}<br/>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div>
            <a class="btn btn-large btn-primary" href=" {{ path('easy_don_tableau') }}" type="button">Consulter le tableau global</a>
        </div>
    </div>

{% endblock %}