{# src/Easy/SiteBundle/Resources/views/Default/index.html.twig #}

{% extends "EasySiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}
    {% for article in articles %}
        <h3>{{ article.titre }}</h3>
        <h6>Le {{ article.date|date('d/m/Y H:i') }} par <a href="">{{ article.utilisateur.usernameCanonical }}</a></h6>
        <div>
            <p>{{ article.contenu|raw }}</p>
            {% if not loop.last %}
                <hr />
            {% endif %}
        </div>
    {% else %}
        <p>Aucun article n'a été trouvé</p>
    {% endfor %}
{% endblock %}