{# src/Easy/SiteBundle/Resources/views/layout.html.twig #}
 
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}=EaSy= Company{% endblock %}</title>
        <link href="{{ asset('bundles/easysite/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/easysite/css/main.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                Bannière
            </div>
        </div>
        <div class="row">
            {% include "EasySiteBundle::menu.html.twig" %}
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-3">
                <div class="bloc">
                    {% include "EasySiteBundle::ts.html.twig" %}
                </div>
            </div>
            <div class="col-xs-8 col-md-6">
                <div class="bloc">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-xs-4 col-md-3">
                <div class="bloc">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <script src="{{ asset('bundles/easysite/js/jquery-2.0.0.min.js') }}"></script>
        <script src="{{ asset('bundles/easysite/js/bootstrap.min.js') }}"></script>
    </body>
</html>