{# src/Easy/SiteBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="{% set _description = block('description') %}{% if _description is not empty %}{{ _description|raw }}{% endif %}" />
        <title>=EaSy= Company - A French Multigaming Team since 2008 {% set _title = block('title') %}{% if _title is not empty %} | {{ _title|raw }}{% endif %}</title>
        <link href="{{ asset('bundles/easysite/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/easysite/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/easysite/css/main.css') }}" rel="stylesheet" media="screen">
        <link rel="shortcut icon" href="/bundles/easysite/images/favicon.png" />
        <script src="{{ asset('bundles/easysite/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/easysite/js/bootstrap.min.js') }}"></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-37507672-1', 'easy-company.fr');
            ga('send', 'pageview');
        </script>

        <script>
            linkLoadEtats = "{{ path('easy_ws_etats_load') }}";
        </script>
        <script src="{{ asset('bundles/easysite/js/loadEtats.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <a href="{{ path('easy_site_homepage') }}"><img src="/bundles/easysite/images/banniere_{{ random(4) }}.png" class="img-responsive" alt="=EaSy= Company"></a>
            </header>

            {% include "EasySiteBundle::menu.html.twig" %}

            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <div class="panel panel-primary">
                        {% if _title is not empty %}
                            <div class="panel-heading">
                                <h1 class="panel-title">{% set _icone = block('icone') %}{% if _icone is not empty %}{{ _icone|raw }}{% endif %} {{ _title|raw }}</h1>
                            </div>
                        {% endif %}
                        <div class="panel-body">
                            {% block body %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-user"></i> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}Connecté{% else %}Connexion{% endif %}</h3></div>
                        <div class="panel-body">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <div class="text-center">
                                    <strong>{{ app.user.username }}</strong>
                                    <br />
                                    <img src="{{ gravatar(app.user.email, 100) }}">
                                    <br /><br />
                                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">Se déconnecter <i class="fa fa-sign-out"></i></a>
                                </div>
                            {% else %}
                                <div class="text-center">
                                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary"><i class="fa fa-sign-in"></i> Connexion</a>
                                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary"><i class="fa fa-list"></i> Inscription</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-calendar"></i> Evènements</h3></div>
                        {{ render(controller('EasyDispoBundle:Evenement:listAccueil')) }}
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-microphone"></i> Teamspeak</h3></div>
                        <div class="panel-body">
                            {{ render(controller('EasyTeamspeakBundle:Teamspeak:index')) }}
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-beer"></i> Tchat<i class="fa fa-spinner pull-right fa-lg fa-spin chat-loading" style="display: none"></i></h3></div>
                                {% include "ChatBundle::chat.html.twig" %}
                    </div>
                </div>
            </div>
            <footer>
                =EaSy= Company &copy; 2008 - {{ "now"|date('Y') }} - <a href="{{ path('easy_site_page_mentions') }}">Mentions Légales</a>
            </footer>
        </div>

        <script>
            $(function () {
                // Affichage des tooltips
                $('[data-toggle="tooltip"]').tooltip({
                    container: 'body'
                });

                // Tooltip des statuts des serveurs
                $('.tooltip-state').tooltip({
                    html: true,
                    placement: 'left',
                    title: function () {
                        return $(this).attr('data-tooltip');
                    }
                });
            });
        </script>
    </body>
</html>
