{# src/Easy/ArticleBundle/Resources/views/Article/index.html.twig #}

{% extends "EasyEspaceMembreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Administration des Articles{% endblock %}

{% block body %}
<a href="{{ path('easy_article_add') }}"><i class="fa fa-plus"></i> Ecrire un Article</a>
<table class="table">
    <thead>
        <tr>
            <th>Article</th>
            <th>Date</th>
            <th>Catégorie</th>
            <th>Rédacteur</th>
            <th><i class="fa fa-edit"></i></th>
            <th><i class="fa fa-trash-o"></i></th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.titre }}</td>
                <td>{{ article.date|date('d/m/Y H:i') }}</td>
                <td>{{ article.categorieArticle.libelle }}</td>
                <td>{{ article.utilisateur.usernameCanonical }}</td>
                <td><a href="{{ path('easy_article_show', { 'id' : article.id }) }}"><i class="fa fa-edit"></a></i></td>
                <td><a href="{{ path('easy_article_delete', { 'id' : article.id }) }}"><i class="fa fa-trash-o"></a></i></td>
            </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}