{# src/Easy/SiteBundle/Resources/views/Default/index.html.twig #}

{% extends "EasyEspaceMembreBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Bienvenue {{ app.user.username }} !{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <img src="{{ gravatar(app.user.email, 150) }}">
                </div>
            </div>
            {% if app.user.leitmotiv is not empty %}
            <blockquote>
                {{ app.user.leitmotiv }}
            </blockquote>
            {% endif %}
            <div><strong>ID Steam :</strong> {% if app.user.idSteam is empty %}<span class="text-danger">Non défini</span>{% else %}{{ app.user.idSteam }}{% endif %}</div>
            <div><strong>Pseudo Steam :</strong> {% if app.user.pseudoSteam is empty %}<span class="text-danger">Non défini</span>{% else %}{{ app.user.pseudoSteam }}{% endif %}</div>
        </div>
    </div>
{% endblock %}