{% if not message.isDeleted or is_granted('ROLE_ADMINISTRATEUR') %}
  <div class="list-group-item{% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.id == message.utilisateur.id and not message.isDeleted %} list-group-item-info{% endif %}{% if message.isDeleted %} list-group-item-danger{% endif %}" data-chat-message-id="{{ message.id }}">
    <div class="message">
      <span class="username">{% if 'ROLE_ADMINISTRATEUR' in message.utilisateur.roles %}<i class="fa fa-star"></i> {% endif %}{{ message.utilisateur }}:</span> {{ message.texte|link_to_hyperlink|raw }}
    </div>
    <div class="text-muted">
      <div class="pull-left actions">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and (is_granted('ROLE_ADMINISTRATEUR') or app.user.id == message.utilisateur.id) %}
          {% if message.isDeleted and is_granted('ROLE_ADMINISTRATEUR') %}
            <a href="{{ path('chat_message_cancel_delete', {id: message.id}) }}" data-chat-message-id="{{ message.id }}" class="cancel-delete"><i class="fa fa-undo"></i></a>
          {% endif %}
  
          {% if not message.isDeleted %}
            <a href="{{ path('chat_message_delete', {id: message.id}) }}" data-chat-message-id="{{ message.id }}" class="delete"><i class="fa fa-remove"></i></a>
          {% endif %}
        {% endif %}
      </div>
      <div class="pull-right">
        {% if message.isMobile %}<i class="fa fa-mobile"></i> {% endif %}<span class="timestamp">{{ time_diff(message.timestamp) }}</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
{% endif %}